h1 {
    color: red;
}
body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (max-width:800px){

    #search_form{
        display: none;
    }
    td{
        font-size: 13px;
    }
}
